<h4>Информация о посте:</h4>
<br/>

<p>
 <%= @row['content'] %>        
<br/>
 <%=@row['created_date'] %>     
<br/>
<h4>Ваш комментарий:</h4>
<%  @comments.each do |comment|  %>
<P>
	<%=comment['content'] %>
</P>

<% end   %>
<form action="/details/<%= @row['id'] %> " method="POST">
  <div class="form-floating">
  <textarea name="content" class="form-control" placeholder="Введите текст комментария" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2"></label>
</div>
  <button type="submit" class="btn btn-primary">Отправка комментария</button>
</form>
 </p>
