<h2> Введенные посты:</h2>
<br/>
<% @results.each do |result| %> <!--cорьтровка данных из переменной с бд  в представлении -->
<p>
 <%= result['content'] %>        <!--вывод данных из столбца content-->
<br/>
 <%=result['created_date'] %>     <!--вывод данных из столбца 'created_date'-->
<br/>
 <a href= "/details/<%= result['id'] %>">комментарий</a> <!--комментарий к постам-->


</p>	
<% end  %>