<h2>  Новый пост будет здесь</h2>
<form action="/new" method="POST">
  <div class="form-floating">
  <textarea name="content" class="form-control" placeholder="Введите текст поста" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2"></label>
</div>
  <button type="submit" class="btn btn-primary">Отправка данных</button>
</form>